.btn{
    background-color: #7bff2f !important;
    color: #1f2123 !important;
}

.btn-border{
    background-color: #7bff2f4a !important;
    color: #1f2123 !important;
    border: 2px solid #7bff2f;
    border-radius: 5px;
    padding: .1em .2em !important;
    cursor: pointer;
}

.show-btn{
    text-align: right;
}

.grid-container{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr .4fr; /* 4 colonnes */
    overflow: hidden; /* Cache les lignes supplémentaires */
}

.fc-trainings>.grid-container, .fc-jobs>.grid-container{
    grid-template-columns: 1fr 1fr 1fr; /* 3 colonnes */

}

.grid-item, .hidden-row{
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.hidden-row {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .75s ease, height .75s ease;
}

.hidden-row.show {
    opacity: 1;
    height: auto;
}

.show-box {
    height: 200px; /* Hauteur par défaut */
    overflow: hidden; /* Cache le contenu dépassant */
    transition: height 0.3s ease; /* Animation pour une transition fluide */
}

.show-box.expanded {
    height: auto; /* Hauteur automatique lorsqu'elle est étendue */
}