.landing > div > nav > ul > li{
    background-color: #7bff2f !important;
    margin: .1em;
    padding: .2em 1em;
    border-radius: 5px;
}

.landing > div > a{
    font-size: 110%;
}

/* PHOTO INDEX */
.me{
    width: 75%;
    margin-block-start: 2em;
}

/* gap between btn about */
.about>div>a{
    margin: .25em;
    font-size: 110%;
}

.bg-success{
    background-color: #7bff2f !important;
}

.btn-keep-scroll{
    display: none;
}

.nav-links-lg-win{
    display: none;
}